!!! 5
html.no-js(lang='en')
//
    <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title #{title} | Citiology
    meta(name='description', content='#{metaDesc}')
    meta(name='keywords', content='#{metaKeys}')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='/icon-search.gif')
    link(rel='apple-touch-icon', href='/apple-touch-icon.png')
    != css('grid.css')
    != css('base.css')
    != css('site')
    != js('libs/modernizr-2.5.3.min.js')
  body
    .page
      //
         toolbar
      .toolbox
        .tools.container_12
          .account.prefix_8.grid_4
            ul.right
              li
                a(href='/Register') Register
              li
                a(href='/Login') Sign In
      header
        .hgroup.container_12
          .logo.grid_2
            strong.caps
              a(href='/')
                img(src="/img/citiology-logo.jpg")
          //
             navigation
          nav.grid_10
            ul.right
              li.nav-interviews
                a(href='/Interview')
                  span.ico
                  | Interviews
              li.nav-playlists
                a(href='/Playlist')
                  span.ico
                  | Playlists
              li.nav-add
                a(href='#')
                  span.ico
                  | Add
      //
         grid reset: messages: HIDDEN
      .messages
        section.container_12
          article.grid_12
            h2 Get Down
      //
         grid reset: content
      .content
        //
          banner
        .wide.banner
          section.container_12
            .cta.grid_6
              p.pitch NYC Nightlife Guide
              form
                fieldset.subscribe
                  input.text.inline.left(type='text', value='', placeholder='Enter your email')
                  button.inline.right Subscribe
              ul.follow
                li
                  h4 Follow Us
                li.s-facebook
                  a.ico(href='http://www.facebook.com/citiology', target='_blank')
                li.s-twitter
                  a.ico(href='http://twitter.com/#!/Citiology', target='_blank')
                li.s-mail
                  a.ico(href='mailto:info@citiology.com')
            .grid_6
              figure.art
                img(src='http://media-cache2.pinterest.com/upload/1829656068576140_OHB0t6MF_f.jpg')
        //
          single full: interview
        .full.container_12
          block content

      //
        footer
      footer
        .container_12
          ul.grid_12
            li
              a(href='/About') About Us
            li
              a(href='/Contact') Contact
            li
              a(href='/Interview') Interviews
            li
              a(href='/Playlist') Playlists
          .grid_10.prefix_1.suffix_1
            .a_widget.ad_long
              img(src='/img/728x90.png')

    block pagescript

    script(type='text/javascript', src='http://use.typekit.com/qor1rqn.js')

    //
       google analytics: replace "UA-XXXXX-X" with your id
    script
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    //
       google +1
    script(type='text/javascript')
      (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    //
       twitter scripts
    script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    //
       facebook scripts: replace "your-facebook-app-id" with your facebook app id
    #fb-root
    script
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=your-facebook-app-id";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));